AL-Game-5.8/data/static_data/polymorph_panels/polymorph_panels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.1">
    <xs:include schemaLocation="../global_types.xsd"/>
    <xs:element name="polymorph_panels">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="panel" type="SkillPanel" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="SkillPanel">
        <xs:attribute name="panel_id" type="xs:int" use="required"/>
        <xs:attribute name="panel_skills" type="IntListType"/>
    </xs:complexType>
</xs:schema>