AL-Game/data/static_data/items/assembly_items.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../global_types.xsd"/>
    <xs:element name="assembly_items">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" type="AssemblyItem" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="AssemblyItem">
        <xs:attribute name="parts" type="IntListType" use="required"/>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="parts_num" type="xs:int"/>
        <xs:attribute name="proc_assembly" type="xs:int" use="optional"/>
    </xs:complexType>
</xs:schema>