AL-Game/data/static_data/locations/dynamic_portal/dynamic_portal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.1">
	<xs:include schemaLocation="global_types.xsd"/>
	<xs:element name="dynamic_portal">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dynamic_location" type="Dynamic" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Dynamic">
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>
</xs:schema>