AL-Game/config/schedule/rvr_schedule.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="rvr" type="rvr"/>
	<xs:element name="rvr_schedule" type="rvrSchedule"/>
	<xs:complexType name="rvrSchedule">
		<xs:sequence>
			<xs:element ref="rvr" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rvr">
		<xs:sequence>
			<xs:element name="rvrTime" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>
</xs:schema>