AL-Game/data/static_data/stats/absolute_stats.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../modifiers.xsd"/>
    <xs:element name="absolute_stats">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="stats_set" type="StatsSet"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="StatsSet">
        <xs:sequence>
            <xs:element maxOccurs="1" name="modifiers" type="Modifiers"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>
</xs:schema>